[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
ackeevault = "42VY2mEV4gUz31qPaT5oAHFojXQE9tWAEwfdAf6w5rxL"

[programs.devnet]
ackeevault = "42VY2mEV4gUz31qPaT5oAHFojXQE9tWAEwfdAf6w5rxL"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
