[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
ticketregistry = "Fexp7zdqUMigfWfFx2Nug2WWjVxe64cf4rr1CtDzbQ3z"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "node_modules/.bin/jest --preset ts-jest"
